@import url("http://fonts.cdnfonts.com/css/silkscreen");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  background: #2E132C;
}
